@font-face{
    font-family: cursedtimer;
    src: url(CursedTimerUlil.ttf);
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    margin: 100px auto;
    align-items: center;
    background-color: #1B244A;
    text-align: center;
    box-sizing: border-box;
    width: 500px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    gap: 80px;
    border-radius: 10px;
}

h3{
    color: #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}
.scores{
    margin-top: 0px;
    color: #F94F6D;
    font-size: 90px;
    background-color: #080001;
    font-family: "cursedtimer";
    margin-bottom: 0px;
}

button{
    margin-top: 30px;
    padding: 8px;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    background-color: #1B244A;
    border-radius: 5px;
    margin-right: 5px;
}
